

/*color section*/

#header-top,
a.blue-btn,
.cta-border-overlay,
.stylist-icon,
.stylist-icon:after,
.single-facility:hover .heading-font,
.portfolio-icon,
.single-logo-item:hover,
.footer-top-area,
.single-footer-widget:after,
button.btn-sibmit,
.testimonial-area:after,
.counter-area:after,
a.slicknav_btn

{

    background-color: #c0392b
;
}

.logo-area h2,
.single-service-item:hover .service-icon,
.single-service-item:hover .service-content h3,
.single-service-item:hover .inline-btn,
.testimonial-inner h4,
.single-facility:hover .head-facility h3,
.main-menu li:hover > a,
.single-portfolio-area:hover .portfolio-inormation h3,
.address li,
.copy-right-area a,
.single-footer-widget li:hover > a,
.slicknav_brand 
{

    color: #c0392b

}

.cta-blue-overlay {

    border-right: 100px solid #c0392b

}
.contact-area input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    border: 1px solid #c0392b;
}